<launch>
  <arg name="model" />

  <group ns="$(arg model)">
    
    <node pkg="nodelet"
      type="nodelet"
      name="image_zeromq_to_ros"
      args="standalone image_zeromq_to_ros/ImageZeroMQToROS"
      output="screen">
      <param name="calibration" value="$(find image_zeromq_to_ros)/config/calib_130.yml"/>
      <param name="zmq_transport" value="tcp://127.0.0.1:12345"/>
      <param name="jpeg_decompress" value="false"/>
      <param name="image_channels" value="3"/>
      <param name="image_width" value="752"/>
      <param name="image_height" value="480"/>
    </node>

    <node pkg="nodelet"
      type="nodelet"
      name="getCircle"
      args="standalone circle_detection/getCircle"
      output="screen">
      <rosparam file="$(find ibvs_formation_bearing)/Params.yaml"/>
      <remap from="~image" to="/$(arg model)/image_zeromq_to_ros/image_raw"/>
      <remap from="~camera_info" to="/$(arg model)/image_zeromq_to_ros/camera_info"/>
    </node>

  </group>
</launch>
